:root {
  //active
  --vt-c-brigth-blue: hsl(220, 98%, 61%);

  //light
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  --desktop-image-light: url("./images/bg-desktop-light.jpg");
  --mobile-image-light: url("./images/bg-mobile-light.jpg");

  //dark
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desatured-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);

  --desktop-image-dark: url("./images/bg-desktop-dark.jpg");
  --mobile-image-dark: url("./images/bg-mobile-dark.jpg");
}

/* semantic color variables for this project */
:root {
  --color-background: var(--very-light-grayish-blue);
  --color-list-background: var(--very-light-gray);
  --color-task: var(--very-dark-blue);
  --color-completed-task: var(--light-grayish-blue);
  --color-menu: var(--dark-grayish-blue);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-title: var(--very-light-gray);
  --color-text: var(--dark-grayish-blue);
  --section-gap: 160px;

  --bckg-image-mobile: var(--mobile-image-light);
  --bckg-image-desktop: var(--desktop-image-light);
}
/* semantic color variables on dark mode */
.dark {
  --color-background: var(--very-dark-blue);
  --color-list-background: var(--very-dark-desatured-blue);
  --color-task: var(--very-light-grayish-blue);
  --color-completed-task: var(--dark-grayish-blue);
  --color-menu: var(--dark-grayish-blue);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-title: var(--very-light-gray);
  --color-heading: var(--vt-c-white);
  --color-text: var(--light-grayish-blue);

  --bckg-image-mobile: var(--mobile-image-dark);
  --bckg-image-desktop: var(--desktop-image-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--bckg-image-mobile);
  background-repeat: no-repeat;
  background-size: contain;
}
