:root {
  --vt-c-white: #ffffff;
  --vt-c-brigth-blue: hsl(220, 98%, 61%);

  --vt-c-black: #181818;

  --vt-c-divider-light-1: hsl(236, 33%, 92%);
  --vt-c-divider-light-2: hsl(236, 9%, 61%);
  --vt-c-divider-dark-1: hsl(234, 39%, 85%);
  --vt-c-divider-dark-2: hsl(234, 11%, 52%);

  --vt-c-text-light-1: hsl(236, 9%, 61%);
  --vt-c-text-light-2: hsl(236, 33%, 92%);
  --vt-c-text-dark-1: hsl(234, 39%, 85%);
  --vt-c-text-dark-2: hsl(233, 14%, 35%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-white);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-white);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
