@import "./base.scss";
@import "./checkbox.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: fit-content;
}

a {
  text-decoration: none;
  color: var(--vt-c-text-dark-2);
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-task);
  }
}
@media (active: active) {
  a:active {
    color: var(--vt-c-brigth-blue);
  }
}

@media (min-width: 499px) {
  body {
    background-image: var(--bckg-image-desktop);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.active {
  color: var(--vt-c-brigth-blue);
}
